# Expo
.expo/
.expo-shared/
web-build/

# Node
node_modules/

# Env
.env
.env.local

# OS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/


.DS_Store
__MACOSX/


ios/
android/

node_modules/

.expo/

.git/

.DS_Store